= form_for @order do |f|
  = error_messages_for @order
  .row
    .col-md-12
      .form-group
        = f.label :time_of_travel
        .input-group.date.datetimepicker
          = f.text_field :time_of_travel, class: 'form-control',
          value: nilTime(f.object.time_of_travel)
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        = f.error_messages_for(:time_of_travel)
  .row
    .col-md-6
      .form-group
        = f.label :departure_address
        = f.text_field :departure_address, class: 'form-control'
        = f.error_messages_for(:departure_address)
    .col-md-6
      .form-group
        = f.label :arrival_address
        = f.text_field :arrival_address, class: 'form-control'
        = f.error_messages_for(:arrival_address)
  .row
    .col-md-6
      .form-group
        = f.label :number_of_passengers
        = f.number_field :number_of_passengers, class: 'form-control'
        = f.error_messages_for(:number_of_passengers)
    .col-md-6
      .form-group
        = f.label :length_of_route
        = f.text_field :length_of_route, class: 'form-control'
        = f.error_messages_for(:length_of_route)
  .row
    .col-md-6
      .form-group
        = f.label :automobile_id
        -# automobile_options() в automobiles_helper
        -# При выборе текущего авто, его можно изменять, при выборе нового,
        -# поля для него скрываются, при выборе пустоты в авто -
        -# можно создать новый.
        = f.select :automobile_id, automobile_options(@cur.try(:id)),
        {include_blank: true}, class: 'form-control automobile-select',
        "data-current-id": @cur.try(:id)
        = f.error_messages_for(:automobile_id)
    .col-md-6
      .form-group
        = f.label :tariff_id
        -# tariff_options() в tariffs_helper
        -# При выборе текущего тарифа, его можно изменять, при выборе нового,
        -# поля для него скрываются, при выборе пустоты в тарифе -
        -# можно создать новый.
        = f.select :tariff_id, tariff_options(@cur2.try(:id)),
        {include_blank: true}, class: 'form-control tariff-select',
        "data-current-id": @cur2.try(:id)
        = f.error_messages_for(:tariff_id)

  .row
    .col-md-6
      %fieldset.center
        %legend Поля для автомобиля
        .left.automobile-main-fields{"data-content-new": "#{new_automobile_form(f, @cur_params)}",
          "data-content-exist": "#{exist_automobile_form(f, @cur, @vals)}"}
          - if @new
            = new_automobile_form(f, @cur_params)
          - else
            = exist_automobile_form(f, @cur, @vals)
    .col-md-6
      %fieldset.center
        %legend Поля для тарифа
        .left.tariff-main-fields{"data-content-new": "#{new_tariff_form(f, @cur_params2)}",
          "data-content-exist": "#{exist_tariff_form(f, @cur2, @vals2)}"}
          - if @new2
            = new_tariff_form(f, @cur_params2)
          - else
            = exist_tariff_form(f, @cur2, @vals2)
  .actions
    = f.submit nil, class: 'btn btn-primary', id: 'save'
