%p#notice= notice

%p
  %b Last name:
  = @driver.last_name
%p
  %b First name:
  = @driver.first_name
%p
  %b Patronymic:
  = @driver.patronymic
%p
  %b Date of birth:
  = @driver.date_of_birth
%p
  %b Itn:
  = @driver.itn
%p
  %b Passport:
  = @driver.passport
%p
  %b Automobile:
  = @driver.automobile

= link_to 'Edit', edit_driver_path(@driver)
\|
= link_to 'Back', drivers_path
